mnists/data/*
!mnists/data/textures/
imagenet/data/*

imagenet/experiments/*
!imagenet/experiments/.placeholder
mnists/experiments/*
!mnists/experiments/.placeholder
!mnists/experiments/cgn_colored_MNIST
!mnists/experiments/cgn_double_colored_MNIST
!mnists/experiments/cgn_wildlife_MNIST

imagenet/runs/*
!imagenet/runs/.placeholder

imagenet/weights/*
!imagenet/weights/.placeholder

tags
**/__pycache__
.ipynb_checkpoints/
*.swp
*.npz
*.mp4
*.pth
!mnists/experiments/cgn_colored_MNIST/weights/ckp.pth
!mnists/experiments/cgn_double_colored_MNIST/weights/ckp.pth
!mnists/experiments/cgn_wildlife_MNIST/weights/ckp.pth
!imagenet/data/u_fixed.pth
